---
import type { BreadcrumbURLs } from "@/components/elements/GenerateBreadcrumb";
import GenerateBreadcrumb from "@/components/elements/GenerateBreadcrumb";
import Container from "@/components/ui/Container";
import Heading from "@/components/ui/Heading";
import Layout from "@/layouts/Layout.astro";

const breadcrumbURLs: BreadcrumbURLs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Contacts",
    href: "/contacts",
  },
];
---

<Layout title="Fisika Komputasi | Contacts">
  <Container>
    <Heading>Contacts</Heading>
    <GenerateBreadcrumb urls={breadcrumbURLs} />
    <div class="grid md:grid-cols-2">
      <div class="flex flex-col">
        <h1 class="text-4xl font-medium">
          Get in touch<br />with us for more information
        </h1>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.449002922082!2d112.61109671171668!3d-7.95246499203891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e78827f2d620975%3A0xf19b7459bbee5ed5!2sUniversitas%20Brawijaya!5e0!3m2!1sid!2sid!4v1712752736575!5m2!1sid!2sid"
        class="rounded-xl w-full min-h-80 md:h-[800px]"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </Container>
</Layout>
