---
import OverlayDark from "@/components/elements/OverlayDark.astro";
import Layout from "../layouts/Layout.astro";
import WelcomingSection from "@/components/elements/WelcomingSection";
---

<Layout title="Fisika Komputasi">
  <main
    class="hero w-full px-2 sm:px-8 h-[calc(100vh-57px)] bg-center bg-cover relative flex items-center justify-centertransition-all ease-in-out"
  >
    <OverlayDark />
    <WelcomingSection />
  </main>
</Layout>

<style scoped>
  .hero {
    background-image: url("/background_landscape.webp");
  }
</style>
